<div class="container">

  <div class="jumbotron text-center">
    <button ng-click="main.getCard()">get card</button>
    <button ng-click="main.startGame()">start</button>
  </div>

  <div class="row">

    <div class="col-md-6">
      <h4>Cards</h4>
      <div class="card" ng-repeat="card in main.cards">
        <div class="number" ng-repeat="number in card" ng-class="{ 'win':  number.win }">
          {{ number.value }}
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h4>Numbers</h4>
      <div ng-if="main.numbers.length===1">
        <h3>Get ready!</h3>
      </div>
      <div class="numbers-wrapper" ng-if="main.numbers.length>1">
        <div ng-if="number!='start' && number!='end'" class="number" ng-repeat="number in main.numbers">
          {{ number }}
        </div>
      </div>

      <div ng-if="number=='end'" ng-repeat="number in main.numbers">
        <h2>Game Over!</h2>
      </div>
    </div>

  </div>

</div>
