.card {
  border: 1px dashed;
  overflow: hidden;
  width: 205px;
  padding: 10px;
  box-sizing: content-box;
  margin: 10px;
  float: left;
}

.number {
  float: left;
  border: 1px solid #333;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  margin: 2px;
  &.win {
    border: 1px solid green;
    background: green;
    color: #FFF;
  }
}

h2 {
  text-align: center;
  line-height: 50px;
}

.numbers-wrapper {
  overflow: hidden;
  border: 1px dashed;
  padding: 10px;
}
